#H2{color: rgb(21, 43, 17);}
#imagen{margin-top: 20px;
    max-width: 100%;
    height: auto;}
#PromedioBoton{

width: 190px;
height: 100px;
}

#MayorNota{
    width: 190px;
    height: 100px;
}
